@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2 .navbar-caption {
  color: #ffffff;
}
#ext_menu-2 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2 .close-icon::before,
#ext_menu-2 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2 .link,
#ext_menu-2 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2 .link {
  font-size: 1.15rem;
}
#ext_menu-2 .dropdown-item,
#ext_menu-2 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-2 .link:hover,
#ext_menu-2 .dropdown-item:hover,
#ext_menu-2 .link:focus,
#ext_menu-2 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2 .link[aria-expanded="true"],
#ext_menu-2 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-2 .nav-dropdown-sm .link:focus,
#ext_menu-2 .nav-dropdown-sm .link:hover,
#ext_menu-2 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-2 .navbar,
#ext_menu-2 .nav-dropdown-sm,
#ext_menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2 .bg-color.transparent.opened .link:hover,
#ext_menu-2 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2 .link[aria-expanded="true"],
#ext_menu-2 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-54 .mbr-section-title,
#header3-54 .mbr-section-subtitle {
  text-align: center;
}
#header3-55 .mbr-section-title,
#header3-55 .mbr-section-subtitle {
  text-align: center;
}
#header3-4u .mbr-section-title,
#header3-4u .mbr-section-subtitle {
  text-align: center;
}
#header3-4u .mbr-section-title {
  color: #2969b0;
}
#msg-box5-4s P {
  color: #efefef;
  font-size: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-4s H3 {
  text-align: center;
  color: #d14841;
}
#header3-51 .mbr-section-title,
#header3-51 .mbr-section-subtitle {
  text-align: center;
}
#header3-52 .mbr-section-title,
#header3-52 .mbr-section-subtitle {
  text-align: center;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}





#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
}
#ext_menu-e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-e .link {
  font-size: 1.15rem;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #1f5087;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-4j .mbr-section-title,
#header3-4j .mbr-section-subtitle {
  text-align: center;
}
#header3-4j .mbr-section-title {
  color: #2969b0;
}
#msg-box6-4k .mbr-section-title,
#msg-box6-4k .lead p {
  color: #fff;
}
#msg-box6-4k P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-4l .mbr-section-title,
#msg-box6-4l .lead p {
  color: #fff;
}
#msg-box6-4l P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-4m .mbr-section-title,
#msg-box6-4m .lead p {
  color: #fff;
}
#msg-box6-4m P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-l .navbar-caption {
  color: #ffffff;
}
#ext_menu-l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-l .close-icon::before,
#ext_menu-l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-l .link,
#ext_menu-l .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-l .link {
  font-size: 1.15rem;
}
#ext_menu-l .dropdown-item,
#ext_menu-l .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-l .link:hover,
#ext_menu-l .dropdown-item:hover,
#ext_menu-l .link:focus,
#ext_menu-l .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-menu {
  background: #1f5087;
}
#ext_menu-l .nav-dropdown-sm .link:focus,
#ext_menu-l .nav-dropdown-sm .link:hover,
#ext_menu-l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-l .navbar,
#ext_menu-l .nav-dropdown-sm,
#ext_menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-l .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-l .bg-color.transparent.opened .link:hover,
#ext_menu-l .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-t .mbr-section-title,
#header3-t .mbr-section-subtitle {
  text-align: center;
}
#header3-t .mbr-section-subtitle {
  color: #2969b0;
  font-size: 46px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-p .navbar-caption {
  color: #ffffff;
}
#ext_menu-p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-p .close-icon::before,
#ext_menu-p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-p .link,
#ext_menu-p .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-p .link {
  font-size: 1.15rem;
}
#ext_menu-p .dropdown-item,
#ext_menu-p .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-p .link:hover,
#ext_menu-p .dropdown-item:hover,
#ext_menu-p .link:focus,
#ext_menu-p .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-menu {
  background: #1f5087;
}
#ext_menu-p .nav-dropdown-sm .link:focus,
#ext_menu-p .nav-dropdown-sm .link:hover,
#ext_menu-p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-p .navbar,
#ext_menu-p .nav-dropdown-sm,
#ext_menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-p .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-p .bg-color.transparent.opened .link:hover,
#ext_menu-p .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-v .mbr-section-title,
#header3-v .mbr-section-subtitle {
  text-align: center;
}
#header3-v .mbr-section-title {
  color: #2969b0;
}
#msg-box6-x .mbr-section-title,
#msg-box6-x .lead p {
  color: #fff;
}
#msg-box6-x P {
  text-align: left;
  font-size: 20px;
}
#msg-box6-y .mbr-section-title,
#msg-box6-y .lead p {
  color: #fff;
}
#msg-box6-y P {
  font-size: 20px;
}
#msg-box6-z .mbr-section-title,
#msg-box6-z .lead p {
  color: #fff;
}
#msg-box6-z P {
  font-size: 20px;
}
#msg-box6-10 .mbr-section-title,
#msg-box6-10 .lead p {
  color: #fff;
}
#msg-box6-10 P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-11 .navbar-caption {
  color: #ffffff;
}
#ext_menu-11 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-11 .close-icon::before,
#ext_menu-11 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-11 .link,
#ext_menu-11 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-11 .link {
  font-size: 1.15rem;
}
#ext_menu-11 .dropdown-item,
#ext_menu-11 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-11 .link:hover,
#ext_menu-11 .dropdown-item:hover,
#ext_menu-11 .link:focus,
#ext_menu-11 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-11 .nav-dropdown-sm .link:focus,
#ext_menu-11 .nav-dropdown-sm .link:hover,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-11 .navbar,
#ext_menu-11 .nav-dropdown-sm,
#ext_menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-11 .bg-color.transparent.opened .link:hover,
#ext_menu-11 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-14 .mbr-section-title,
#header3-14 .mbr-section-subtitle {
  text-align: center;
}
#header3-14 .mbr-section-title {
  color: #2969b0;
}
#msg-box6-15 .mbr-section-title,
#msg-box6-15 .lead p {
  color: #fff;
}
#msg-box6-15 P {
  font-size: 20px;
}
#msg-box6-16 .mbr-section-title,
#msg-box6-16 .lead p {
  color: #fff;
}
#msg-box6-16 P {
  font-size: 20px;
}
#msg-box6-17 .mbr-section-title,
#msg-box6-17 .lead p {
  color: #fff;
}
#msg-box6-17 P {
  font-size: 20px;
}
#msg-box6-18 .mbr-section-title,
#msg-box6-18 .lead p {
  color: #fff;
}
#msg-box6-18 P {
  font-size: 20px;
}
#msg-box6-19 .mbr-section-title,
#msg-box6-19 .lead p {
  color: #fff;
}
#msg-box6-19 P {
  font-size: 20px;
}
#msg-box6-1a .mbr-section-title,
#msg-box6-1a .lead p {
  color: #fff;
}
#msg-box6-1a P {
  font-size: 20px;
}
#msg-box6-1b .mbr-section-title,
#msg-box6-1b .lead p {
  color: #fff;
}
#msg-box6-1b P {
  font-size: 20px;
}
#msg-box6-1c .mbr-section-title,
#msg-box6-1c .lead p {
  color: #fff;
}
#msg-box6-1c P {
  font-size: 20px;
}
#msg-box6-1d .mbr-section-title,
#msg-box6-1d .lead p {
  color: #fff;
}
#msg-box6-1d P {
  font-size: 20px;
}
#msg-box6-1e .mbr-section-title,
#msg-box6-1e .lead p {
  color: #fff;
}
#msg-box6-1e P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#header3-1i .mbr-section-title {
  color: #2969b0;
  font-size: 36px;
}
#ext_menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1f .navbar-caption {
  color: #ffffff;
}
#ext_menu-1f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1f .close-icon::before,
#ext_menu-1f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1f .link,
#ext_menu-1f .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1f .link {
  font-size: 1.15rem;
}
#ext_menu-1f .dropdown-item,
#ext_menu-1f .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-1f .link:hover,
#ext_menu-1f .dropdown-item:hover,
#ext_menu-1f .link:focus,
#ext_menu-1f .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1f .link[aria-expanded="true"],
#ext_menu-1f .dropdown-menu {
  background: #1f5087;
}
#ext_menu-1f .nav-dropdown-sm .link:focus,
#ext_menu-1f .nav-dropdown-sm .link:hover,
#ext_menu-1f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-1f .navbar,
#ext_menu-1f .nav-dropdown-sm,
#ext_menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-1f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1f .bg-color.transparent.opened .link:hover,
#ext_menu-1f .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1f .link[aria-expanded="true"],
#ext_menu-1f .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-1k .mbr-section-title,
#msg-box6-1k .lead p {
  color: #fff;
}
#msg-box6-1k P {
  font-size: 20px;
}
#msg-box6-1l .mbr-section-title,
#msg-box6-1l .lead p {
  color: #fff;
}
#msg-box6-1l P {
  font-size: 20px;
}
#msg-box6-1m .mbr-section-title,
#msg-box6-1m .lead p {
  color: #fff;
}
#msg-box6-1m P {
  font-size: 20px;
}
#msg-box6-1n .mbr-section-title,
#msg-box6-1n .lead p {
  color: #fff;
}
#msg-box6-1n P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-1o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1o .navbar-caption {
  color: #ffffff;
}
#ext_menu-1o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1o .close-icon::before,
#ext_menu-1o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1o .link,
#ext_menu-1o .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1o .link {
  font-size: 1.15rem;
}
#ext_menu-1o .dropdown-item,
#ext_menu-1o .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-1o .link:hover,
#ext_menu-1o .dropdown-item:hover,
#ext_menu-1o .link:focus,
#ext_menu-1o .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1o .link[aria-expanded="true"],
#ext_menu-1o .dropdown-menu {
  background: #1f5087;
}
#ext_menu-1o .nav-dropdown-sm .link:focus,
#ext_menu-1o .nav-dropdown-sm .link:hover,
#ext_menu-1o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1o .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-1o .navbar,
#ext_menu-1o .nav-dropdown-sm,
#ext_menu-1o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1o .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-1o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1o .bg-color.transparent.opened .link:hover,
#ext_menu-1o .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1o .link[aria-expanded="true"],
#ext_menu-1o .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#header3-1r .mbr-section-title {
  color: #2969b0;
}
#msg-box5-1s H3 {
  color: #ffffff;
}
#msg-box5-1s P {
  color: #ffffff;
  font-size: 20px;
}
#msg-box6-1t .mbr-section-title,
#msg-box6-1t .lead p {
  color: #fff;
}
#msg-box6-1t P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1u .navbar-caption {
  color: #ffffff;
}
#ext_menu-1u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1u .close-icon::before,
#ext_menu-1u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1u .link,
#ext_menu-1u .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1u .link {
  font-size: 1.15rem;
}
#ext_menu-1u .dropdown-item,
#ext_menu-1u .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-1u .link:hover,
#ext_menu-1u .dropdown-item:hover,
#ext_menu-1u .link:focus,
#ext_menu-1u .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1u .link[aria-expanded="true"],
#ext_menu-1u .dropdown-menu {
  background: #1f5087;
}
#ext_menu-1u .nav-dropdown-sm .link:focus,
#ext_menu-1u .nav-dropdown-sm .link:hover,
#ext_menu-1u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-1u .navbar,
#ext_menu-1u .nav-dropdown-sm,
#ext_menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-1u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1u .bg-color.transparent.opened .link:hover,
#ext_menu-1u .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1u .link[aria-expanded="true"],
#ext_menu-1u .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1x .mbr-section-title {
  color: #2969b0;
}
#msg-box6-1y .mbr-section-title,
#msg-box6-1y .lead p {
  color: #fff;
}
#msg-box6-1y P {
  font-size: 20px;
}
#msg-box6-1z .mbr-section-title,
#msg-box6-1z .lead p {
  color: #fff;
}
#msg-box6-1z P {
  font-size: 20px;
}
#msg-box6-20 .mbr-section-title,
#msg-box6-20 .lead p {
  color: #fff;
}
#msg-box6-20 P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-27 .navbar-caption {
  color: #ffffff;
}
#ext_menu-27 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-27 .close-icon::before,
#ext_menu-27 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-27 .link,
#ext_menu-27 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-27 .link {
  font-size: 1.15rem;
}
#ext_menu-27 .dropdown-item,
#ext_menu-27 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-27 .link:hover,
#ext_menu-27 .dropdown-item:hover,
#ext_menu-27 .link:focus,
#ext_menu-27 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-27 .nav-dropdown-sm .link:focus,
#ext_menu-27 .nav-dropdown-sm .link:hover,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-27 .navbar,
#ext_menu-27 .nav-dropdown-sm,
#ext_menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-27 .bg-color.transparent.opened .link:hover,
#ext_menu-27 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 .mbr-section-title {
  color: #2969b0;
}
#msg-box6-2a .mbr-section-title,
#msg-box6-2a .lead p {
  color: #fff;
}
#msg-box6-2a P {
  font-size: 20px;
}
#msg-box6-2b .mbr-section-title,
#msg-box6-2b .lead p {
  color: #fff;
}
#msg-box6-2b P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-2c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2c .navbar-caption {
  color: #ffffff;
}
#ext_menu-2c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2c .close-icon::before,
#ext_menu-2c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2c .link,
#ext_menu-2c .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2c .link {
  font-size: 1.15rem;
}
#ext_menu-2c .dropdown-item,
#ext_menu-2c .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-2c .link:hover,
#ext_menu-2c .dropdown-item:hover,
#ext_menu-2c .link:focus,
#ext_menu-2c .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-menu {
  background: #1f5087;
}
#ext_menu-2c .nav-dropdown-sm .link:focus,
#ext_menu-2c .nav-dropdown-sm .link:hover,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-2c .navbar,
#ext_menu-2c .nav-dropdown-sm,
#ext_menu-2c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2c .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-2c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2c .bg-color.transparent.opened .link:hover,
#ext_menu-2c .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#header3-2h .mbr-section-title {
  color: #2969b0;
}
#msg-box6-4a .mbr-section-title,
#msg-box6-4a .lead p {
  color: #fff;
}
#msg-box6-4a P {
  font-size: 20px;
}
#msg-box6-2f .mbr-section-title,
#msg-box6-2f .lead p {
  color: #fff;
}
#msg-box6-2f P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-2j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2j .navbar-caption {
  color: #ffffff;
}
#ext_menu-2j .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2j .close-icon::before,
#ext_menu-2j .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2j .link,
#ext_menu-2j .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2j .link {
  font-size: 1.15rem;
}
#ext_menu-2j .dropdown-item,
#ext_menu-2j .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-2j .link:hover,
#ext_menu-2j .dropdown-item:hover,
#ext_menu-2j .link:focus,
#ext_menu-2j .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-menu {
  background: #1f5087;
}
#ext_menu-2j .nav-dropdown-sm .link:focus,
#ext_menu-2j .nav-dropdown-sm .link:hover,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2j .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-2j .navbar,
#ext_menu-2j .nav-dropdown-sm,
#ext_menu-2j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2j .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-2j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2j .bg-color.transparent.opened .link:hover,
#ext_menu-2j .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2j .link[aria-expanded="true"],
#ext_menu-2j .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-2l .mbr-section-title,
#header3-2l .mbr-section-subtitle {
  text-align: center;
}
#header3-2l .mbr-section-title {
  color: #2969b0;
}
#msg-box6-2m .mbr-section-title,
#msg-box6-2m .lead p {
  color: #fff;
}
#msg-box6-2m P {
  font-size: 20px;
}
#msg-box6-2n .mbr-section-title,
#msg-box6-2n .lead p {
  color: #fff;
}
#msg-box6-2n P {
  font-size: 20px;
}
#msg-box6-2o .mbr-section-title,
#msg-box6-2o .lead p {
  color: #fff;
}
#msg-box6-2o P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2p .navbar-caption {
  color: #ffffff;
}
#ext_menu-2p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2p .close-icon::before,
#ext_menu-2p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2p .link,
#ext_menu-2p .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2p .link {
  font-size: 1.15rem;
}
#ext_menu-2p .dropdown-item,
#ext_menu-2p .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-2p .link:hover,
#ext_menu-2p .dropdown-item:hover,
#ext_menu-2p .link:focus,
#ext_menu-2p .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-menu {
  background: #1f5087;
}
#ext_menu-2p .nav-dropdown-sm .link:focus,
#ext_menu-2p .nav-dropdown-sm .link:hover,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-2p .navbar,
#ext_menu-2p .nav-dropdown-sm,
#ext_menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-2p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2p .bg-color.transparent.opened .link:hover,
#ext_menu-2p .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-2s .mbr-section-title,
#header3-2s .mbr-section-subtitle {
  text-align: center;
}
#header3-2s .mbr-section-title {
  color: #2969b0;
}
#msg-box6-2t .mbr-section-title,
#msg-box6-2t .lead p {
  color: #fff;
}
#msg-box6-2t P {
  font-size: 20px;
}
#msg-box6-2w .mbr-section-title,
#msg-box6-2w .lead p {
  color: #fff;
}
#msg-box6-2w P {
  font-size: 20px;
}
#msg-box6-2v .mbr-section-title,
#msg-box6-2v .lead p {
  color: #fff;
}
#msg-box6-2v P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-2x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2x .navbar-caption {
  color: #ffffff;
}
#ext_menu-2x .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2x .close-icon::before,
#ext_menu-2x .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2x .link,
#ext_menu-2x .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-2x .link {
  font-size: 1.15rem;
}
#ext_menu-2x .dropdown-item,
#ext_menu-2x .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-2x .link:hover,
#ext_menu-2x .dropdown-item:hover,
#ext_menu-2x .link:focus,
#ext_menu-2x .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-menu {
  background: #1f5087;
}
#ext_menu-2x .nav-dropdown-sm .link:focus,
#ext_menu-2x .nav-dropdown-sm .link:hover,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-2x .navbar,
#ext_menu-2x .nav-dropdown-sm,
#ext_menu-2x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2x .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-2x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2x .bg-color.transparent.opened .link:hover,
#ext_menu-2x .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-30 .mbr-section-title,
#header3-30 .mbr-section-subtitle {
  text-align: center;
}
#header3-30 .mbr-section-title {
  color: #2969b0;
}
#msg-box6-31 .mbr-section-title,
#msg-box6-31 .lead p {
  color: #fff;
}
#msg-box6-31 P {
  font-size: 20px;
}
#msg-box6-32 .mbr-section-title,
#msg-box6-32 .lead p {
  color: #fff;
}
#msg-box6-32 P {
  font-size: 20px;
}
#msg-box6-33 .mbr-section-title,
#msg-box6-33 .lead p {
  color: #fff;
}
#msg-box6-33 P {
  font-size: 20px;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}







#ext_menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-34 .navbar-caption {
  color: #ffffff;
}
#ext_menu-34 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-34 .close-icon::before,
#ext_menu-34 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-34 .link,
#ext_menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-34 .link {
  font-size: 1.15rem;
}
#ext_menu-34 .dropdown-item,
#ext_menu-34 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-34 .link:hover,
#ext_menu-34 .dropdown-item:hover,
#ext_menu-34 .link:focus,
#ext_menu-34 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-34 .link[aria-expanded="true"],
#ext_menu-34 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-34 .nav-dropdown-sm .link:focus,
#ext_menu-34 .nav-dropdown-sm .link:hover,
#ext_menu-34 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-34 .navbar,
#ext_menu-34 .nav-dropdown-sm,
#ext_menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-34 .bg-color.transparent.opened .link:hover,
#ext_menu-34 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-34 .link[aria-expanded="true"],
#ext_menu-34 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-37 .mbr-section-title,
#header3-37 .mbr-section-subtitle {
  text-align: center;
}
#header3-37 .mbr-section-title {
  color: #2969b0;
}
#msg-box6-3c .mbr-section-title,
#msg-box6-3c .lead p {
  color: #fff;
}
#msg-box6-3c P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3b .mbr-section-title,
#msg-box6-3b .lead p {
  color: #fff;
}
#msg-box6-3b P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3a .mbr-section-title,
#msg-box6-3a .lead p {
  color: #fff;
}
#msg-box6-3a P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-39 .mbr-section-title,
#msg-box6-39 .lead p {
  color: #fff;
}
#msg-box6-39 P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-38 .mbr-section-title,
#msg-box6-38 .lead p {
  color: #fff;
}
#msg-box6-38 P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}




#ext_menu-3d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3d .navbar-caption {
  color: #ffffff;
}
#ext_menu-3d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3d .close-icon::before,
#ext_menu-3d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3d .link,
#ext_menu-3d .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-3d .link {
  font-size: 1.15rem;
}
#ext_menu-3d .dropdown-item,
#ext_menu-3d .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-3d .link:hover,
#ext_menu-3d .dropdown-item:hover,
#ext_menu-3d .link:focus,
#ext_menu-3d .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-3d .link[aria-expanded="true"],
#ext_menu-3d .dropdown-menu {
  background: #1f5087;
}
#ext_menu-3d .nav-dropdown-sm .link:focus,
#ext_menu-3d .nav-dropdown-sm .link:hover,
#ext_menu-3d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3d .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-3d .navbar,
#ext_menu-3d .nav-dropdown-sm,
#ext_menu-3d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3d .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-3d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3d .bg-color.transparent.opened .link:hover,
#ext_menu-3d .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-3d .link[aria-expanded="true"],
#ext_menu-3d .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-3g .mbr-section-title,
#header3-3g .mbr-section-subtitle {
  text-align: center;
}
#header3-3g .mbr-section-title {
  color: #2969b0;
  font-size: 36px;
}
#msg-box6-3h .mbr-section-title,
#msg-box6-3h .lead p {
  color: #fff;
}
#msg-box6-3h P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3i .mbr-section-title,
#msg-box6-3i .lead p {
  color: #fff;
}
#msg-box6-3i P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}






#ext_menu-3k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3k .navbar-caption {
  color: #ffffff;
}
#ext_menu-3k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3k .close-icon::before,
#ext_menu-3k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3k .link,
#ext_menu-3k .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-3k .link {
  font-size: 1.15rem;
}
#ext_menu-3k .dropdown-item,
#ext_menu-3k .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-3k .link:hover,
#ext_menu-3k .dropdown-item:hover,
#ext_menu-3k .link:focus,
#ext_menu-3k .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-3k .link[aria-expanded="true"],
#ext_menu-3k .dropdown-menu {
  background: #1f5087;
}
#ext_menu-3k .nav-dropdown-sm .link:focus,
#ext_menu-3k .nav-dropdown-sm .link:hover,
#ext_menu-3k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3k .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-3k .navbar,
#ext_menu-3k .nav-dropdown-sm,
#ext_menu-3k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3k .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-3k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3k .bg-color.transparent.opened .link:hover,
#ext_menu-3k .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-3k .link[aria-expanded="true"],
#ext_menu-3k .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-3n .mbr-section-title,
#header3-3n .mbr-section-subtitle {
  text-align: center;
}
#header3-3n .mbr-section-title {
  color: #2969b0;
}
#msg-box6-3p .mbr-section-title,
#msg-box6-3p .lead p {
  color: #fff;
}
#msg-box6-3p P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3q .mbr-section-title,
#msg-box6-3q .lead p {
  color: #fff;
}
#msg-box6-3q P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3r .mbr-section-title,
#msg-box6-3r .lead p {
  color: #fff;
}
#msg-box6-3r P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-3o .mbr-section-title,
#msg-box6-3o .lead p {
  color: #fff;
}
#msg-box6-3o P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}




#ext_menu-3s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3s .navbar-caption {
  color: #ffffff;
}
#ext_menu-3s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3s .close-icon::before,
#ext_menu-3s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3s .link,
#ext_menu-3s .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-3s .link {
  font-size: 1.15rem;
}
#ext_menu-3s .dropdown-item,
#ext_menu-3s .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-3s .link:hover,
#ext_menu-3s .dropdown-item:hover,
#ext_menu-3s .link:focus,
#ext_menu-3s .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-3s .link[aria-expanded="true"],
#ext_menu-3s .dropdown-menu {
  background: #1f5087;
}
#ext_menu-3s .nav-dropdown-sm .link:focus,
#ext_menu-3s .nav-dropdown-sm .link:hover,
#ext_menu-3s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3s .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-3s .navbar,
#ext_menu-3s .nav-dropdown-sm,
#ext_menu-3s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3s .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-3s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3s .bg-color.transparent.opened .link:hover,
#ext_menu-3s .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-3s .link[aria-expanded="true"],
#ext_menu-3s .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-3v .mbr-section-title,
#header3-3v .mbr-section-subtitle {
  text-align: center;
}
#header3-3v .mbr-section-title {
  color: #2969b0;
}
#msg-box6-3w .mbr-section-title,
#msg-box6-3w .lead p {
  color: #fff;
}
#msg-box6-3w P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#msg-box6-5l .mbr-section-title,
#msg-box6-5l .lead p {
  color: #fff;
}
#msg-box6-5l P {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-4z P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-4z SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}



#ext_menu-58 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-58 .navbar-caption {
  color: #ffffff;
}
#ext_menu-58 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-58 .close-icon::before,
#ext_menu-58 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-58 .link,
#ext_menu-58 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-58 .link {
  font-size: 1.15rem;
}
#ext_menu-58 .dropdown-item,
#ext_menu-58 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-58 .link:hover,
#ext_menu-58 .dropdown-item:hover,
#ext_menu-58 .link:focus,
#ext_menu-58 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-58 .link[aria-expanded="true"],
#ext_menu-58 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-58 .nav-dropdown-sm .link:focus,
#ext_menu-58 .nav-dropdown-sm .link:hover,
#ext_menu-58 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-58 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-58 .navbar,
#ext_menu-58 .nav-dropdown-sm,
#ext_menu-58 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-58 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-58 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-58 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-58 .bg-color.transparent.opened .link:hover,
#ext_menu-58 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-58 .link[aria-expanded="true"],
#ext_menu-58 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-5a .mbr-section-title,
#header3-5a .mbr-section-subtitle {
  text-align: center;
}
#header3-5a .mbr-section-title {
  color: #2969b0;
}
#header5-5i .mbr-section-title {
  color: #000000;
}
#header5-5i .mbr-section-lead {
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-family: 'Lora', serif;
}
#header3-5n .mbr-section-title,
#header3-5n .mbr-section-subtitle {
  text-align: center;
}
#header3-5o .mbr-section-title,
#header3-5o .mbr-section-subtitle {
  text-align: center;
}
#header3-5e .mbr-section-title,
#header3-5e .mbr-section-subtitle {
  text-align: center;
}
#header3-5p .mbr-section-title,
#header3-5p .mbr-section-subtitle {
  text-align: center;
}
#header3-5q .mbr-section-title,
#header3-5q .mbr-section-subtitle {
  text-align: center;
}
#features6-5c .btn {
  font-size: 16px;
}
#features3-5m .btn {
  font-size: 16px;
}
#features3-5r .btn {
  font-size: 16px;
}
#features3-5y .btn {
  font-size: 16px;
}
#contacts2-59 P {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-59 SPAN {
  color: #d14841;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
}
